/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /* tables still need 'cellspacing="0"' in the markup */
textarea {overflow:auto;}
/***** RESET *****/

.form-info-layout{
    display: block;
    width: 67%;
    height: 45px;
    text-align: center;
    background-color: coral;
    border: 3px solid darkblue;
    border-radius: 20px;
    float: left;
    overflow: hidden;
}

.form-info-layout:hover{
    background-color: teal;
}

.list-group-item:hover{
    border: 2px darkblue solid;
}

.form-list-element{ 
    color: #000000;
}

.form-list-element:hover{
    color: gray;
    text-decoration: none;
}

.searchbox-root-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.searchbox-root-div > div{
    width: 600px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .searchbox-root-div > div{
       width: 40%;
    }
 }

 .new-chart-add-root-div{
    width: 545px;
    height: 495px; 
    margin: 17px 0 30px 15px;
    display: flex;
    justify-content: center;
    border: 2px green dotted;
 }

 .report-page-root-div{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column;
 }

 .mw-1735{
     max-width: 1735px !important;
 }

 .mw-300{
    max-width: 300px !important;
 }

 .card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding-top: .5rem;
    padding-bottom: .5rem;
 }

 .nav-tabs-sm{
    font-size: .8125rem;
 }

 .card-header-tabs{
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    margin-left: 0;
    margin-right: 0
 }

 .header-toolbar{
     display: flex;
     flex: row;
 }

 .chart-delete-button{
     background: white;
     border: 0px;
     color: #A9A9A9;
     float: right;
 }

 .chart-delete-button:hover{
     color: gray;
 }

 .chart-option-dropdown{
    background: white;
    border: 0px;
    color: #A9A9A9;
    float: right;
    height: 30px;
    margin-top: 4px;
    margin-right: 3px;
 }

 .chart-option-dropdown:hover{
     color: gray;
 }

 .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu button::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  .dropdown-btn{
      border: 0px;
      background: white;
  }

  ul.date-all .btn-all{
      background: turquoise !important;
  }

  ul.date-last7days .btn-last7days{
    background: turquoise !important;
  }

  ul.date-last3months .btn-last3month{
    background: turquoise !important;
  }

  .form-report-dropdown-button{
    border: 0px;
    color: #A9A9A9;
    height: 30px;
    margin-right: 5px;
  }

  .min-h-500{
      min-height: 500px !important;
  }