/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /* tables still need 'cellspacing="0"' in the markup */
textarea {overflow:auto;}
/***** RESET *****/

.form-info-layout{
    display: block;
    width: 67%;
    height: 45px;
    text-align: center;
    background-color: coral;
    border: 3px solid darkblue;
    border-radius: 20px;
    float: left;
    overflow: hidden;
}

.form-info-layout:hover{
    background-color: teal;
}

.list-group-item:hover{
    border: 2px darkblue solid;
}

.form-list-element{ 
    color: #000000;
}

.form-list-element:hover{
    color: gray;
    text-decoration: none;
}

.searchbox-root-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.searchbox-root-div > div{
    width: 600px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .searchbox-root-div > div{
       width: 40%;
    }
 }

 .new-chart-add-root-div{
    width: 545px;
    height: 485px; 
    margin: 17px 0 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px green dotted;
 }

 .report-page-root-div{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column;
 }

 .mw-1000{
     max-width: 1735px !important;
 }